<table class="table table-bordered" style="width: 60%">
  <tbody>
    <tr>
      <td class="table-active" style="width: 15%">氏名</td>
      <td style="width: 45%"><%= customer.last_name %>  <%= customer.first_name %></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= customer.last_name_kana%>  <%= customer.first_name_kana %></td>
    </tr>
    <tr>
    <td class="table-active">住所</td>
      <td><%= customer.address %></td>
      </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= customer.post_code %></td>
    </tr>
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= customer.phone_number %></td>
    </tr>
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= customer.email %></td>
    </tr>
  </tbody>
</table>