<%= form_with model: [:public, customer], url: customers_information_path, local: true do |f| %>
  <table class="table table-borderless" style="width: 60%">
    <tbody>
      <tr>
        <td style="width: 25%"><%= f.label :name, "氏名" %></td>
        <td><%= f.text_field :last_name %>　　<%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :name_kana, "フリガナ" %></td>
        <td><%= f.text_field :last_name_kana %>　　<%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td><%= f.label :post_code, "郵便番号" %></td>
        <td><%= f.text_field :post_code %></td>
      </tr>
      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td><%= f.text_field :address, style: "width: 100%" %></td>
      </tr>
      <tr>
        <td><%= f.label :phone_number, "電話番号" %></td>
        <td><%= f.text_field :phone_number %></td>
      </tr>
      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit "編集内容を保存", class: 'btn btn-success col-5' %>
          <%= link_to "退会する", customers_check_path, class: 'btn btn-danger col-4 float-right' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>