<%= form_with model: [:public, addresse], url: path_url, local: true do |f| %>
  <table class="table table-borderless" style="width: 80%">
    <tbody>
      <tr>
        <td style="width: 30%"><%= f.label :post_code, "郵便番号(ハイフンなし)" %></td>
        <td style="width: 50%"><%= f.text_field :post_code, placeholder: "0000000" %></td>
        <td style="width: 20%"></td>
      </tr>
      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td style="width: 60%">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", style: "width: 100%" %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.label :name, "住所" %></td>
        <td><%= f.text_field :name, placeholder: "令和道子" %></td>
        <td><%= f.submit submit_title, class: 'btn btn-success' %></td>
      </tr>
    </tbody>
  </table>
<% end %>