<div class="container">
  <div class="row ml-1 mt-5">
    <h3>注文情報入力</h3>
  </div>
  <div>
  <%= form_with model: @order, url: check_orders_path, method: :post, local: true do |f| %>
    <div class="row mt-3">
      <h4><strong>支払方法</strong></h4>
    </div>
    <div class="ml-5">
      <div class="d-flex align-items-center mb-2">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true , id: "payment_method_credit" %>&nbsp;
        <%= f.label :payment_method_credit, I18n.t("enums.order.payment_method.credit_card"), class: "mb-0" %>
      </div>
      <div class="d-flex align-items-center">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1), id: "payment_method_transfer" %>&nbsp;
        <%= f.label :payment_method_transfer, I18n.t("enums.order.payment_method.transfer"), class: "mb-0" %>
      </div>
    </div>
    <div class="row mt-3">
      <h4><strong>お届け先</strong></h4>
    </div>
    <div class="ml-5">
      <div class="d-flex align-items-center mb-2">
        <%= f.radio_button :select_address, 0, checked: true %>&nbsp;
        <%= f.label :select_address_0, "ご自身の住所", class: "mb-0" %>
      </div>
      <div class="ml-4 mb-2">
        〒<%= current_customer.post_code %>  <%= current_customer.address %><br>
        <%= "#{current_customer.last_name} #{current_customer.first_name}" %>
      </div>


      <%# if current_customer.addresses.present? %>
      <div class="d-flex align-items-center mt-4 mb-4">
        <%= f.radio_button :select_address, 1 %>&nbsp;
        <%= f.label :select_address_1, "登録した住所から選択", class: "mb-0" %>
      </div>
      <div class="ml-4">
        <%#= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </div>
      <%# end %>


      <div class="d-flex align-items-center mb-2">
        <%= f.radio_button :select_address, 2 %>&nbsp;
        <%= f.label :select_address_2, "新しいお届け先", class: "mb-0" %>
      </div>
      <div class="row">
        <div class="col ml-3">
          <table class="table table-borderless" style="width: 70%">
            <tbody>
              <tr>
                <td style="width: 30%"><%= f.label :post_code, "郵便番号(ハイフンなし)", class: "col-form-label" %></td>
                <td style="width: 35%"><%= f.text_field :post_code, placeholder: "0000000", class: "form-control" %></td>
                <td style="width: 35%"></td>
              </tr>
              <tr>
                <td><%= f.label :address, "住所", class: "col-form-label" %></td>
                <td colspan="2"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :name, "宛名", class: "col-form-label" %></td>
                <td><%= f.text_field :name, placeholder: "令和道子", class: "form-control" %></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div> 
  <% end %>
</div>